@use '../../styles/Breakpoints' as *;

.about {

    .collapse {
   
        @include mobile {
            margin: 15px auto; 
            width: 100%;
            padding: 0 30px;
        }

        @include tablet {
            width: 100%;
            margin: 15px auto; 
        }
    }
}
