@import '../../styles/Style';
@import '../../styles/Breakpoints';

.collapse {
    display: flex;
    flex-direction: column;
    
    align-items: center;
    margin: 40px -200px;
    width: 582px;
    
    

    @include mobile {
        max-width: 476px;
        margin: 15px auto;    
        margin-right: 50px;
    }

    &__header {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        width: 582px;
        padding: 10px 20px 10px 10px;
        background-color: $main-color;
        border-radius: 5px;
        gap: 76px;

        @include mobile {
            padding: 4px 6px;
            border-radius: 5px;
            max-width: 80%;
            align-items: center;
            
        }

        h2 {
            font-size: 24px;

            @include mobile {
                font-size: 13px;
            }
        }

        &-button {
            background-color: $main-color;
            border: none;

            @include mobile {
                height: 32px;
                width: 32px;

                img {
                height: 18px;
                width: 20px;
                }
            }
        }
    }

    &__content {
        width: 582px;
        padding: 20px;
        font-size: 18px;
        color: $main-color;
        background-color: $second-color;
        border-radius: 0 0 10px 10px;
        margin-top: -40px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-in-out, margin-top 0.2s ease-in-out;
        z-index: -1;
        gap: 76px;

        @include mobile {
        font-size: 12px;
        line-height: 17px;
        width: 335px;
        }

        &.open {
        margin-top: -6px;
        max-height: 400px;
        transition: max-height 0.2s ease-in-out, margin-top 0.2s ease-in-out;
        }
    }
}

// Animation chevron
.collapse .chevron-up {
  transition: all 0.2s ease-in-out;
}

.collapse.open .chevron-up {
  transform: rotate(-180deg);
}
