@import '../../styles/_Style.scss';
@import '../../styles/_Breakpoints.scss';

.header {
   display: flex;
   justify-content: space-between;
   margin: 30px auto;
   width: 1240px;

   @include mobile {
      max-width: 90%;
      justify-content: space-around; 
   }

   @include tablet {
      max-width: 80%;
   }
   &__image {
      align-items: center;
      height: 68px;
      width: 210px;

      @include mobile {
         height: 46px;
         width: 145px;
      }
   }

   &__navbar {
      display: flex;
      align-items: center;
      gap: 50px;

      @include mobile {
         gap: 26px;
      }

      a {
         font-size: 24px;
         color: black;
         font-weight: 500;
         
         &:hover, 
         :active, 
         :focus {
            text-decoration: underline;
         }


         @include mobile {
         font-size: 12px;
         line-height: 17px;
         text-transform: uppercase;
         }
      }
   }
}
