@use '../../styles/Style.scss' as *;
@use '../../styles/Breakpoints' as *;

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    max-width: 1440px;
    padding: 50px;
    gap: 25px;
    background-color: $footer-color;


    @include mobile {
            height: 209px;
            padding: 80px;
            max-width: 100%;
            font-size: 12px;
            line-height: 17px;
            
            
        }
    &__image {
        height: 39px;
        width: 122px;
    }

    &__info {
        font-size: 24px;
  }

    
}
